---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hola, cosmonaut!</h1>
			<p>
				你有这么高速运转的机械进入中国你记住我给出的原理小的时候。就是研发人研发这个东西的原理，是阴间政权管着。
			</p>
			<p>
				知道为什么有生灵给他运转，先位，还有专门饲养这个为什么地下产这种东西。他管的是他五世同堂旗下子孙。
			</p>
			<p>
				你以为我跟你闹着玩呢，你不，你不，你不警察吗？
			</p>
		</main>
		<Footer />
	</body>
</html>
